/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
node_modules
dist
.npmrc

test/dummy/turbolinks_app/yarn.lock
test/dummy/turbolinks_app/log/
test/dummy/turbolinks_app/tmp/
test/dummy/turbolinks_app/public/
.pryrc
gemfiles/*.lock
